.main-header {
    width: 100%;
    background: #112d4e; /* warna biru tua */
    
    /* PERBAIKAN: Tingkatkan padding horizontal dari 40px ke 60px */
    padding: 20px 60px; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Tambahkan ini untuk memastikan padding tidak menambah total lebar */
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo {
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.simatro {
    color: #f6c344; /* kuning */
    font-weight: 800;
}

/* --- BUTTONS --- */
.header-right {
    display: flex;
    align-items: center;
    /* Jarak antar tombol disetel nyaman */
    gap: 15px; 
}

.btn-event {
    background: #4f657e; /* abu-biru */
    padding: 10px 18px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 500;
}

.btn-event:hover {
    opacity: 0.85;
    background: #3e5267; /* sedikit lebih gelap saat hover */
}

.btn-admin {
    background: #d62828; /* merah */
    padding: 10px 18px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 500;
}

.btn-admin:hover {
    opacity: 0.85;
    background: #b81f1f; /* sedikit lebih gelap saat hover */
}